.body {
  composes: body from "../../Dialog/styles/index.css";
  padding: 20px;
}

.logo {
  composes: logo from "../../Dialog/styles/index.css";
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
