.trackerList {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  border-collapse: collapse;
}

.trackerRow {
  padding: 5px;
}

.trackerRow:nth-child(even) {
  background-color: #EEEEEE;
}
