.body {
  display: flex;
  flex-direction: column;
  color: black;
  min-width: 400px;
  min-height: 300px;
}

.body h2 {
  font-size: 1.2em;
  padding: 10px;
  background: #ddd;
  color: #666;
  margin: 0;
}

.content {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  min-height: 350px;
}
