* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}
.hero {
  color: #fff;
  min-width: 100vw;
}
.hero__main {
  margin: 0 auto;
  max-width: 650px;
  padding: 96px 18px 124px;
  text-align: center;
}
.hero__title {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 24px;
}
.hero__sub {
  font-weight: 300;
  margin-bottom: 24px;
}
.hero__image_container {
  max-width: 300px;
  margin: 0 auto;
}
.hero__image_container_inner {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: #000;
  padding-bottom: 188.92% /* image aspect-ratio */;
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
}
.info_container {
  background-color: #fbf9f8;
  overflow-x: hidden;
}
.info_container .info {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 940px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  width: 100%;
}
@media (min-width: 640px) {
  .info_container .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info_container .info:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.info_container .info__blurb {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 390px;
}
.info_container .info__title {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 12px;
}
.info_container .info__sub {
  font-weight: 300;
  line-height: 1.5em;
}
.info_container .info__gutter {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 56px;
}
@media (min-width: 640px) {
  .info_container .info__gutter {
    height: 100%;
    width: 56px;
  }
}
.info_container .info__image_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}
@media (min-width: 640px) {
  .info_container .info__image_container {
    width: 630px;
  }
}
.info_container .info__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.button {
  background-color: #fff;
  border-radius: 64px;
  color: #000;
  display: inline-block;
  font-size: 13.95px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 12px;
  margin-bottom: 12px;
  padding: 14px 22px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.button:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}
.button--block {
  display: block;
}
footer {
  border-top: 1px solid #eee;
  background: #faf7f4;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
}
footer a {
  text-decoration: none;
}
footer .main {
  padding-bottom: 12px;
}


/*# sourceMappingURL=/style.css.map*/