.body {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  color: black;
  min-width: 300px;
  padding: 10px 30px;
}

.logo {
  width: 64px;
  height: 64px;
  margin: 0px 20px;
}
