.peerList {
  width: 100%;
  border-collapse: collapse;
}

.peerRow:nth-child(even) {
  background-color: #EEEEEE;
}

.encryptedCol {
  width: 16px;
}

.upCol {
  width: 70px;
}

.downCol {
  width: 70px;
}

.percentCol {
  width: 30px;
  padding-right: 5px;
  text-align: right;
}

.statusCol {
  width: 40px;
  padding-right: 5px;
}

.addressCol {
  width: 180px;
}

.clientCol {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.morePeersBtn {
  margin-bottom: 10px;
}
