:root {
  --color-bg: black;
  --color-bg--accent: #4E342E;
}

.header {
  background-color: var(--color-bg);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 0.5s cubic-bezier(.4,0,.2,1);
  height: 58px;
}

.header--accent {
  background-color: var(--color-bg--accent);
}

.header__inner {
  padding-left: 18px;
  padding-right: 18px;
  flex-direction: row;
  display: flex;
}

.header__inner_sub {
  align-items: center;
  display: flex;
  height: auto;
  min-height:100%;
}

.header__inner_top, .header__inner_bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header__icon {
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  height: 36px;
  color: white;
  cursor: pointer;
  font-size: 3em;
}

.headerName {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.search {
  font-size: 20px;
  height: 36px;
  cursor: pointer;
}
