.body {
  display: flex;
  font-size: 1.1em;
}

.body h2 {
  font-size: 1.2em;
  color: black;
}

.body label,
.body input {
  display: block;
}

.body input.inline {
  display: inline-block;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.form h2 {
  font-size: 1.2em;
  margin: 0;
  flex-basis: 40px;
}

.body section {
  display: flex;
  flex-direction: column;
}

.body fieldset {
  border: none;
  margin: 0 0 12px 0;
  padding: 0;
  flex-grow: 1;
}

.body fieldset label {
  margin-bottom: 3px;
}

.body fieldset input {
  box-sizing: border-box;
  width: 100%;
}

.body fieldset label.inlineCheck {
  display: flex;
}

.body fieldset label.inlineCheck input {
  width: auto;
}

.body fieldset label.inlineCheck div {
  margin-left: 6px;
}
