@import "normalize.css";

:global body {
  margin: 0px;
  padding: 0px;

  font: 62.5% "lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  height: 100vh;
}


:global #root {
  height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex-shrink: 0;
  flex-basis: auto;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

.footer {
  flex-shrink: 0;
  flex-basis: auto;
}

.list {
  flex: 3;
  overflow-y: auto;
  background: #fffce8;
}

.details {
  min-width: 400px;
  flex: 1;
  overflow-y: auto;
  border-left: 1px solid #888;
}
