.body {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  color: black;
  min-width: 300px;
  padding: 10px 30px;
}

.row {
 display: flex;
 padding: 0px 10px 10px 20px;
}

.key {
 width: 120px;
}

.value {
 flex: 1;
}
