.toolbar {
  background: #ccc;
  padding: 5px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

  border-bottom: 1px solid #AAA;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left to bottom, left bottom, from(#dddddd), to(#bbbbbb));
  background-image: -webkit-linear-gradient(to bottom, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(to bottom, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(to bottom, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(to bottom, #dddddd, #bbbbbb);
  background-image: linear-gradient(to bottom, #dddddd, #bbbbbb);
}

.filters {
  flex: 1;
}

.filters select {
  width: 150px;
  margin-left: 5px;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 5px;
  line-height: 16px;
}

.filter {
  border-radius: 5px;
  margin-left: 5px;
  outline: none;
  border: 1px solid #999;
  padding: 2px 5px;
  line-height: 16px;
}

.counter {
  margin-left: 5px;
}

.menuSelected {
  font-weight: 600;
}
