.toolbar {
  background-color: #E0E0E0;
  color: white;
  padding: 2px;

  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  height: 30px;
}

.button {
  color: black;

  background: transparent;
  outline: none;
  margin-right: 5px;
  height: 20px;
  width: 50%;
}

.button:hover {
  cursor: pointer;
  background: white;
}

.buttonActive {
  background: #333;
}
