.list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

.row {
  border-bottom: 1px solid #ccc;
  background-color: white;
  user-select: none;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.even {
  background-color: #F7F7F7;
}

.selected {
  background-color: #cdcdff;
}
