:root {
  --main-color: black;
}

.list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

.row {
  user-select: none;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.listItem {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  display: flex;
  flex-direction: row;
  outline: none;
  width: 100%;
}

.even {
}

.selected {
  background-color: #E0E0E0;
}

.rippleActive {
  background-color: var(--main-color);
}

.radioButton {
  display: flex;
  min-height:100%;
  height: auto;
  align-items: center;
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 15px;
  transition: max-width 0.25s cubic-bezier(.4,0,.2,1);
}

.radioButton [data-react-toolbox="radio"] {
  border: 2px solid var(--main-color);
  &::before {
    background-color: var(--main-color);
  }
}

.radioButton [data-react-toolbox="ripple"] span {
  background-color: var(--main-color);
}
