.torrent {
  color: #666;
  padding: 5px 10px;
}

.torrentCompact {
  color: #666;
  padding: 7px;
  display: flex;
  align-items: center;
}

.name {
  font-size: 1.3em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #222;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nameCompact {
  flex: 1;
}

.peerDetails {
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 2px;
}

.peerDetailsError {
  composes: peerDetails;

  color: #F00;
}

.detailsCompact {
  margin-right: 10px;
}

.progressBarRow {
  display: flex;
  align-items: center;
}

.progressBarRow div {
  flex: 1;
}

.progressBarRowCompact {
  width: 50px;
}

.progressDetails {
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
