.torrent {
  color: white;
  margin: 15px 25px;
  margin-left: 0px;
  display: flex;
  flex-direction: row;

  font-family: 'Roboto';
}

.torrent__main {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.torrent__info {
  white-space: nowrap;
  overflow: hidden;

  font-size: 30px;
  line-height: 60px;
  padding-left: 15px;
}

.torrentCompact {
  color: white;
  padding: 7px;
  display: flex;
  align-items: center;
}

.name {
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nameCompact {
  flex: 1;
}

.peerDetails {
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 2px;
}

.peerDetailsError {
  composes: peerDetails;

  color: #F00;
}

.detailsCompact {
  margin-right: 10px;
}

.progressBarRow {
  display: flex;
  align-items: center;
}

.progressBarRow div {
  flex: 1;
}

.progressBarRowCompact {
  width: 50px;
}

.progressDetails {
  clear: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
