.statusButton {
  width: 14px;
  height: 14px;
  margin-left: 8px;
  background: url(images/buttons/torrent_buttons.png);
  border: 0;
  padding: 0;
  cursor: pointer;
}

.statusButton:focus {
  border: 0;
  outline: none;
}

.statusPause {
  composes: statusButton;

  background-position: left top;
}

.statusPause:hover {
  background-position: left center;
}

.statusPause:active {
  background-position: left bottom;
}

.statusResume {
  composes: statusButton;

  background-position: center top;
}

.statusResume:hover {
  background-position: center center;
}

.statusResume:active {
  background-position: center bottom;
}
