.inspector {
  text-align: left;
  padding: 15px;
}

.inspector :global .react-tabs [role=tablist] {
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.inspector :global .react-tabs [role=tab][aria-selected=true] {
  border: none;
}

.inspector h1 {
  font-weight: bold;
  font-size: large;
}

.row {
 display: flex;
 padding-bottom: 10px;
}

.key {
 width: 120px;
}

.value {
 flex: 1;
}

.files {
  list-style: none;
  padding: 0;
}

.file {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.name {
  flex: 1;
  padding-left: 5px;
}

.priority button {
  border: 1px solid #5d5d5d;
  padding: 5px 10px;
  font-weight: bold;
}
.priority button:first-child {
  border-radius: 5px 0px 0px 5px;
}

.priority button:last-child {
  border-radius: 0px 5px 5px 0px;
}
