.inspector {
  text-align: left;
  padding: 15px;
}

.inspectorCloseButton {
  text-align: right;
}

.inspector h1 {
  font-weight: bold;
  font-size: large;
  word-wrap: break-word;
}

/* Row */
.row {
 display: flex;
 padding-bottom: 10px;
}

.key {
 width: 120px;
}

.value {
 flex: 1;
}
