.body {
  composes: body from "../../Dialog/styles/index.css";
}

.content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  composes: logo from "../../Dialog/styles/index.css";
}
