.row {
 display: flex;
 flex: 1;
 padding-bottom: 10px;
}

.rowHalf {
 width: 49%;
 margin-right: 1%;
 display: inline-block;
}

.key {
 width: 50px;
 align-items: center;
 display: flex;
}

.key input {
 margin-right: 5px;
}

.key label {
 flex: 1;
}

.value {
 flex: 1;
}

.minput {
  padding-bottom:0;
}

.mswitch {
  margin-bottom: 0;
}
