.container .dropzoneContainer {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.container.activeContainer .dropzoneContainer {
  z-index: 1000;
  visibility: visible;
}

.container.activeContainer .childrenContainer {
  opacity: 0.3;
}

.dropzoneContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
  border: 2px dashed rgb(100, 100, 100);
  border-width: 3px;
  border-style: dashed;
  padding: 100px;
}

.description {
  flex: 1;
  font-size: 30px;
  color: rgb(100, 100, 100);
  margin-left: 10px;
  max-width: 500px;
}
