.fileList {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
  margin-left: 16px;
}

.fileRow {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.fileRowContainer {
  width: 100%;
}

.name {
  flex: 1;
  padding-left: 5px;
}

.priorityButton {
  display: flex;
}

.priorityButton button {
  border: 1px solid #aaa;
  padding: 5px 10px;
  font-weight: bold;
}

.priorityButton button.selected {
  background-image: -webkit-linear-gradient(top, #cdcdff, white);
}

.priorityButton button:first-child {
  border-radius: 5px 0px 0px 5px;
}

.priorityButton button:last-child {
  border-radius: 0px 5px 5px 0px;
}
