.torrentList {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

.torrentRow {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  background-color: white;
  user-select: none;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.torrentRowEven {
  background-color: #F7F7F7;
}

.torrentRowCompact {
  padding: 7px;
}

.torrentRowSelected {
  background-color: #cdcdff;
}
