.toolbar {
  /* background-color: black; */
  color: white;
  font-size: 3em;
  margin: 0 auto;
  flex: 1;
}

.inspector {
  align-self: flex-end;
  margin-left: auto;
}

.inline {
  display: inline;
}

.button>svg {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  opacity: 0.25;
}

.separator {
  border-left: 1px solid #888;
  height: 30px;
  display: inline-block;
}
